* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.animation-type {
    overflow: hidden;
    white-space: nowrap;
    width: 14ch;
    border-right: 3px solid;
    animation: typewright 2S steps(15), cursor .5s infinite alternate;
}

@keyframes typewright {
    from {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.fadeIn {
    animation: textAppear 1s;
    animation-fill-mode: both;
}

.wait-2s {
    animation-delay: 2s;
}

.wait-3s {
    animation-delay: 3s;
}

@keyframes textAppear {
    from { opacity: 0;}
    to { opacity: 1; }
}

/* NAVBAR */

nav {
    width: 100%;
    background-color: cadetblue;
    padding: 1em;
}

@media screen and (max-width: 1065px) {
    .buttons {
        flex-direction: column;
    }
    .buttons > button:first-child {
        margin-bottom: 10px;
    }
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    list-style: none;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    border-radius: 20px;
    transition: 2s;
}

.nav-item.active {
    background-color:rgb(61, 97, 99);
}

.nav-link {
    text-decoration: none;
    color: white;
}

/* END OF NAVBAR */

/* MAIN SECTION */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 2em;
}

.height-100 {
    height: 100%;
}

.task-card {
    min-width: 450px;
    box-shadow: 1px 4px 10px rgba(0,0,0,0.6);
}

.centered-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0;}
    50% {
        opacity: 1;
    }
}

/* END OF MAIN SECTION */

/* PALINDROM */
.centered-stack > h3 {
    padding: 1em;
}

.centered-stack > textarea {
    padding: 1em;
}

/* END OF PALINDROM */


/* DECODER */

.text-area-responsive {
    max-width: 100%;
}

/* END OF DECODER */


/* CALCULATOR */

.calculator-card {
    box-shadow: 1px 4px 10px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
}

.calculator-main {
    width: 450px;
    height: 600px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: all .5s;
}

.row {
    margin: 0;
}

.row:first-child {
    flex: 2;
}

.row:not(:first-child) {
    flex: 1;
}

.column.is-1 {
    flex: 1;
}

.column.is-2 {
    flex: 2;
}

.equal {
    background: linear-gradient(45deg, #dc4b90, #e72f88);
    background-color: #e52f8b;
}

.operation {
    background: linear-gradient(135deg, #8c5ad6, #a762c8);
}

.standard {
    background: linear-gradient(-45deg, #fff, #f1f1f1);
}

.digit-area {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
}

.result {
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 50px;
    max-width: 450px;

}

.memory-digits {
    margin-right: 10px;
    font-size: 20px;
    color: #71555e;
    max-width: 450px;
}

.column:hover {
    cursor: pointer;
    background: plum;
}
/* END OF CALCULATOR */

/* CRUD */

.max-150 {
    max-width: 150px;
}

/* END OF CRUD */